/*importing google fonts */
@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root {
  --font-size-s: 1.8rem;
  --font-size-n: 2rem;
  --font-size-m: 2.24rem;
  --font-size-l: 3rem;
  --font-size-xl: 4rem;
  --font-size-xxl: 4.6rem;

  /* Colors */
  --white-color: #ffffff;
  --dark-color: #252525;
  --primary-color: #4b2e05;
  --secondary-color: #c69214;
  --light-pink-color: #faf4f5;
  --medium-gray-color: #ccc;
  --dark-green-color: #3c5b35;

  /* Font weight*/
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* site max width*/
  --site-max-width: 2300px;
  --border-radius-s: 5px;
  --border-radius-m: 30px;
  --border-radius-l: 15px;
  --border-radius-xl: 20px;
  --border-radius-xxl: 25px;
  --border-radius-circle: 50%;
}
/* styling whole site*/
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}
/* img {
  width: 100%;
} */
.section-content {
  max-width: var(--site-max-width);
  margin: 0 auto;
  padding: 0 20px;
}
.section-title {
  text-align: center;
  padding: 6px 0 100px;
  text-transform: uppercase;
  font-size: var(--font-size-xl);
}
.section-title::after {
  content: "";
  text-align: center;
  display: block;
  width: 80px;
  height: 5px;
  text-align: center;
  margin: 10px auto 0;
  border-radius: var(--border-radius-s);
  background: var(--secondary-color);
}
/* nav bar style*/
header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: var(--primary-color);
}
header .navbar {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
.navbar .nav-logo .logo-text {
  color: var(--white-color);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}
.navbar .nav-menu {
  display: flex;
  gap: 2rem;
}

.navbar .nav-menu .nav-link {
  padding: 10px 18px;
  color: var(--white-color);
  font-size: var(--font-size-m);
  border-radius: var(--border-radius-m);
}

.navbar .nav-menu .nav-link:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  border: 2px solid var(--white-color);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.navbar :where(#menu-open-button, #menu-close-button) {
  display: none;
}
/* hero section style*/
.hero-section {
  min-height: 100vh;
  background: var(--primary-color);
  padding: 300px 0;
}
.hero-section .section-content {
  display: flex;
  align-items: center;
  color: var(--white-color);
  justify-content: space-between;
}
.hero-section .hero-detail .title {
  font-size: var(--font-size-xxl);
  color: var(--secondary-color);
  font-family: "Miniver", sans-serif;
}
.hero-section .hero-detail .subtitle {
  font-size: var(--font-size-l);
  margin-top: 8px;
  max-width: 70%;
  font-weight: var(--font-weight-semibold);
  color: var(--white-color);
}
.hero-section .hero-detail .description {
  font-size: var(--font-size-m);
  color: var(--white-color);
  max-width: 70%;
  margin: 24px 0 40px;
}
.hero-section .hero-detail .buttons {
  display: flex;
  gap: 23px;
}
.hero-section .hero-detail .button {
  padding: 10px 26px;
  border: 2px solid transparent;
  background: var(--secondary-color);
  color: var(--primary-color);
  font-size: var(--font-size-m);
  border-radius: var(--border-radius-m);
  transition: 0.3s ease;
}
.hero-section .hero-detail .button:hover,
.hero-section .hero-detail .contact-us {
  background: transparent;
  color: var(--white-color);
  border: 2px solid var(--white-color);
  transition: 0.3s ease-in-out;
}
.hero-section .hero-detail .contact-us:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  background: var(--secondary-color);
}
.hero-section .hero-image {
  width: 800px;
  margin-right: 30px;
  margin-top: 8px;
}
/* about section style*/
.about-section {
  padding: 120px 0;
  background: var(--light-pink-color);
}
.about-section .section-content {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}
.about-section .about-image-wrapper .about-image {
  width: 600px;
  height: 600px;
  border-radius: var(--border-radius-circle);
}
.about-section .about-detail .section-title {
  padding: 0;
}
.about-section .about-detail {
  max-width: 50%;
}

.about-section .about-detail .text {
  /* line-height: 30px; */
  margin: 50px 0 30px;
  font-size: var(--font-size-m);
  color: var(--dark-color);
}
.about-section .social-link-list {
  display: flex;
  gap: 25px;
  justify-content: center;
}
.about-section .social-link-list .social-link {
  padding: 10px;
  font-size: var(--font-size-l);
  color: var(--primary-color);
  font-size: var(--border-radius-l);
  border: 2px solid var(--medium-gray-color);
  transition: 0.3s ease-in-out;
}
.about-section .social-link-list .social-link:hover {
  background: var(--secondary-color);
}
/* Menu section style */
.menu-section {
  color: var(--white-color);
  background: var(--dark-color);
  padding: 50px 0 100px;
}

.menu-section .menu-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 110px;
  justify-content: space-between;
}
.menu-section .menu-list .menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: calc(100% / 3 - 110px);
}
.menu-section .menu-list .menu-item .menu-image {
  max-width: 83%;
  aspect-ratio: 1;
  margin-bottom: 15px;
  object-fit: contain;
}
.menu-section .menu-list .menu-item .name {
  margin: 12px 0;
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-l);
  color: var(--white-color);
}
.menu-section .menu-list .menu-item .text {
  font-size: var(--font-size-m);
  text-align: center;
}
/* responsive style max width 1748px */
@media screen and (max-width: 1748px) {
  .menu-section .menu-list {
    gap: 50px;
    justify-content: center;
  }
  .menu-section .menu-list .menu-item {
    width: calc(100% / 2 - 50px);
  }
}

/* responsive style max width 1500px */
@media screen and (max-width: 1500px) {
  :root {
    --font-size-m: 2rem;
    --font-size-l: 2.6rem;
    --font-size-xl: 3rem;
    --font-size-xxl: 3.6rem;
  }
  body.show-mobile-menu header::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.5);
  }

  .navbar :where(#menu-open-button, #menu-close-button) {
    display: block;
    font-size: var(--font-size-l);
  }
  .navbar #menu-close-button {
    position: absolute;
    right: 30px;
    top: 30px;
  }
  .navbar #menu-open-button {
    color: var(--white-color);
  }

  .navbar .nav-menu {
    display: block;
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    background: var(--white-color);
    transition: left 0.3s ease-in-out;
  }

  body.show-mobile-menu .navbar .nav-menu {
    left: 0;
  }
  .navbar .nav-menu .nav-link {
    display: block;
    margin-top: 17px;
    color: var(--dark-color);
    font-size: var(--font-size-l);
    border-bottom: 1px solid var(--medium-gray-color);
  }
  .hero-section .section-content {
    flex-direction: column-reverse;
    text-align: center;
    gap: 50px;
    padding: 30px 20px 20px;
    justify-self: center;
  }
  .hero-section .hero-image-wrapper {
    max-width: 270px;
    margin-right: 0;
  }
  .hero-section .hero-detail .subtitle,
  .hero-section .hero-detail .description {
    max-width: 100%;
  }
  .hero-section .hero-detail .buttons {
    justify-content: center;
  }
  .about-section .section-content {
    flex-direction: column;
    gap: 70px;
    text-align: center;
    gap: 5px;
    padding: 30px 20px 20px;
    justify-self: center;
  }
  .about-section .about-image-wrapper .about-image {
    max-width: 100%;
    height: 100%;
    max-width: 250px;
    aspect-ratio: 1;
  }
  .about-section .about-detail .text {
    text-align: center;
    margin: 30px 0;
    line-height: 25px;
  }
  .about-section .social-link-list {
    justify-content: center;
  }
  .about-section .social-link-list .social-link {
    font-size: var(--font-size-m);
    padding: 5px;
    border-radius: var(--border-radius-s);
    transition: 0.3s ease-in-out;
  }
  .about-section .social-link-list .social-link:hover {
    background: var(--secondary-color);
    color: var(--white-color);
  }
  .menu-section .menu-list {
    gap: 30px;
    justify-content: center;
  }
  .menu-section .menu-list .menu-item {
    width: calc(100% / 2 - 30px);
  }
  .menu-section .menu-list .menu-item .menu-image {
    max-width: 200px;
    aspect-ratio: 1;
  }
}

/* responsive style max width 1000px */
@media screen and (max-width: 1000px) {
  .menu-section .menu-list {
    gap: 60px;
  }
  .menu-section .menu-list .menu-item {
    width: 100%;
  }
}
