/*importing google fonts */
@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root {
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  /* Colors */
  --white-color: #ffffff;
  --dark-color: #252525;
  --primary-color: #3b141c;
  --secondary-color: #f3961c;
  --light-pink-color: #faf4f5;
  --medium-gray-color: #ccc;
  --dark-green-color: #3c5b35;

  /* Font weight*/
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* site max width*/
  --site-max-width: 1300px;
  --border-radius-s: 5px;
  --border-radius-m: 30px;
  --border-radius-l: 15px;
  --border-radius-xl: 20px;
  --border-radius-xxl: 25px;
}
/* styling whole site*/
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}
/* img {
  width: 100%;
} */
.section-content {
  max-width: var(--site-max-width);
  margin: 0 auto;
  padding: 0 20px;
}
/* nav bar style*/
header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: var(--primary-color);
}
header .navbar {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
.navbar .nav-logo .logo-text {
  color: var(--white-color);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}
.navbar .nav-menu {
  display: flex;
  gap: 2rem;
}

.navbar .nav-menu .nav-link {
  padding: 10px 18px;
  color: var(--white-color);
  font-size: var(--font-size-l);
  border-radius: var(--border-radius-m);
}

.navbar .nav-menu .nav-link:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  border: 2px solid var(--white-color);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.hero-section {
  min-height: 100vh;
  background: var(--primary-color);
  padding: 100px 0;
}
.hero-section .section-content {
  display: flex;
  align-items: center;
  color: var(--white-color);
  justify-content: space-between;
}
.hero-section .hero-detail .title {
  font-size: var(--font-size-xxxl);
  color: var(--secondary-color);
  font-family: "Miniver", sans-serif;
}
.hero-section .hero-detail .subtitle {
  font-size: var(--font-size-l);
  margin-top: 8px;
  max-width: 70%;
  font-weight: var(--font-weight-semibold);
  color: var(--white-color);
}
.hero-section .hero-detail .description {
  max-width: 70%;
  margin: 24px 0 40px;
}
.hero-section .hero-detail .buttons {
  display: flex;
  gap: 23px;
}
.hero-section .hero-detail .button {
  padding: 10px 26px;
  border: 2px solid transparent;
  background: var(--secondary-color);
  color: var(--primary-color);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semibold);
  border-radius: var(--border-radius-m);
  transition: 0.3s ease;
}
.hero-section .hero-detail .button:hover,
.hero-section .hero-detail .contact-us {
  background: transparent;
  color: var(--white-color);
  border: 2px solid var(--white-color);
  transition: 0.3s ease-in-out;
}
.hero-section .hero-detail .contact-us:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  background: var(--secondary-color);
}
.hero-section .hero-image-wrapper {
  max-width: 500px;
  margin-right: 30px;
  margin-top: 8px;
}
/* responsive style*/

@media screen and (max-width: 900px) {
  :root {
    --font-size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;
  }
  .navbar .nav-menu {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    background: var(--white-color);
  }
  .navbar .nav-menu .nav-link {
    display: block;
    margin-top: 17px;
    color: var(--dark-color);
    font-size: var(--font-size-l);
    border-bottom: 1px solid var(--medium-gray-color);
  }
}
